.menu{
    background-color: lightgrey;
    font-size: 12px;
    font-family: Tahoma;
    padding: 2px;
}
.submenu{
    display: none;
}

ul li.nested:hover > .submenu{
    display: block;
    position: absolute;
    top: 5px;
    margin: 0;
    padding: 0;

}

.menu li{
    display: inline-block;
    width: 100px;
    background-color: gray;
    padding: 5px 10px;
    position: relative;

    a{
        text-decoration: none;
        color: white;
    }
}
ul li.nested:hover > .submenu .submenu{
    top: 100px;

}